*.bak
*.user
.vs
*.idb
/baseclasses/baseclasses.sln
/baseclasses/BaseClasses.vcxproj
/baseclasses/BaseClasses.vcxproj.filters
/bin/Win32/Debug/BaseClasses
/bin/Win32/Release/BaseClasses
/bin/x64/Debug/BaseClasses
/bin/x64/Release/BaseClasses
